.about {
    display: flex;
    flex-flow: row wrap;
}
.languagesWrapper, .activityWrapper {
    width: 100%;
}

@media only screen and (min-width: 1080px) {
    .languagesWrapper, .activityWrapper {
        width: 50%;
    }
}