$grey: #333333;
$white: #FFF;
$black: #232b2b;
$sunsetOrange: #FC4445;
$pictonBlue: #3FEEE6;
$fountainBlue: #55BCC9;
$cornFlower: #97CAEF;
$onahue: #CAFAFE;
$scarpaFlow: #5D5C61;
$bermudaGray: #7395AE;
$smaltBlue: #557A95;
$bronco: #B1A296;
$offWhite: #FDFDFD;