@import '../../sass/variables/colors';

.nav {
    a {
        color: $white;  
        text-decoration: none; 
    }

    .routes {
        list-style-type: none;
    }
    
    li {
        display: inline-block;
        margin-right: 10px;
    }
}